<pre style="background-color:#fff;border-color:#515180;color:#515180; word-break: normal;">
<h1 class="estatico" style="text-align:left">Política de Privacidade</h1>

	<b>Privacidade</b> é a habilidade de uma pessoa em controlar a exposição e a disponibilidade de informações acerca de si. No caso específico do Med1 a privacidade em questão diz respeito a privacidade de informações. 		
	A política do Med1 será sempre voltada a cuidar pela confidencialidade, privacidade e proteção dos dados pessoais de seus USUÁRIOS,  exibir publicamente apenas o conteúdo que for  considerado público pelo USUÁRIO e protegendo as informações consideradas privadas contra acesso não autorizado. Também faz parte de nossa política a preocupação em relação a proteção contra perdas de informações ou uso impróprio delas ou abuso das funcionalidades de comunicações sociais do Med1. Contamos com ferramentas de denúncia de abuso e de um email para esclarecimento de dúvidas ou de denúncias de qualquer tipo de violação das regras do site.
			
<b>1. DAS INFORMAÇÕES COLETADAS</b>
			
	As informações dos USUÁRIOS fornecidas no ato do cadastro ou durante o uso das ferramentas do Med1 são usadas para que o USUÁRIO possa ser identificado no Med1 como e ter um perfil único e que o identifica como um indivíduo em uma rede de conteúdo em temas sobre SAÚDE e afins. Ao tomar a decisão de fornecer as suas informações pessoais, o USUÁRIO declara conhecer e aceitar os termos desta presente Política.
	O Med1 recebe e armazena automaticamente, por meio de recursos computacionais denominados “cookies”, informações sobre as atividades do navegador, incluindo endereço IP e a página acessada. Estes registros de atividades (logs) serão utilizados apenas para fins estatísticos e de medições dos serviços disponibilizados e são nada além do que aquilo que já se utiliza amplamente pela internet em diversos outros serviços e é responsável por fornecer informações para melhorar o desenvolvimento dos aplicativos e ter como foco principal a garantia de fornecer a melhor experiência para o USUÁRIO.

<b>2. SOBRE O USO DAS INFORMAÇÕES COLETADAS</b>

	O USUÁRIO tem ciência e concorda que as informações adquiridas no Med1 através de informações providas pelo USUÁRIO serão utilizadas para ajudar a implementar o melhor serviço e prover a melhor experiência para o USUÁRIO, sendo que nenhuma informação será ou poderá ser usada com qualquer outro intuito que não seja esse já citado.
	Para fins de coibir práticas abusivas ou criminosas no Med1, o USUÁRIO concorda em dar o direito ao Med1 de utilizar tais registros e informações, de forma individualizada, em casos de investigação de fraudes, crimes, práticas de natureza abusivas ou de outros fatos que exijam medidas dessa natureza, incluindo, mas não se limitando a investigações para elucidar casos de evidência de ataques de hackers, alterações indevidas nos sistemas, etc.
			
<b>3. DO PROCESSAMENTO E ARMAZENAMENTO DAS INFORMAÇÕES</b>

	Quando um USUÁRIO se cadastra no Med1, suas informações são armazenadas unicamente em nossos servidores.
	O Med1 não compartilha estas informações com nenhuma outra empresa, site, instituição, fundação, associação ou governo, no Brasil e nem no exterior. No futuro, caso haja o interesse de fazê-lo, será solicitada a prévia e expressa anuência do USUÁRIO.
	 
<b>4. SOBRE O ARMAZENAMENTO DAS INFORMAÇÕES</b>

	As informações disponibilizadas como públicas pelos USUÁRIOS serão coletadas e armazenadas de acordo com os mais rígidos padrões de segurança e confiabilidade disponíveis. Serão envidados os melhores esforços na manutenção da integridade das informações fornecidas.
	O acesso às informações coletadas é restrito aos USUÁRIOS e colaboradores funcionais autorizados pela Med1. Logo, aquele que se utilizar indevidamente dessas informações, em violação a esta Política de Privacidade e Segurança da Informação, estará sujeito às sanções administrativas e disciplinares, sem exclusão das medidas legais cabíveis, seja no âmbito civil ou criminal.
	Não será vendido, alugado ou cedido conteúdo o conteúdo da base de USUÁRIOS do Med1 a empresas, sites, instituições, fundações, associações ou governos.
	O USUÁRIO poderá receber boletins informativos originados do próprio Med1 e, mesmo assim, com a expressa concordância de seus USUÁRIOS.
	Salvo por determinação legal ou judicial, as informações dos USUÁRIOS cadastrados neste site jamais serão transferidas a terceiros estranhos ou usadas para finalidades diferentes daquelas para as quais foram coletadas.
	Quando for da vontade do USUÁRIO, o mesmo poderá, por livre e espontânea vontade, solicitar no próprio portal do Med1, que seus dados sejam todos apagados, incluindo informações pessoas, artigos publicados, tópicos publicados, comentários e informações relacionadas a vínculos dentro da plataforma de rede social de conteúdo, dentre outros dessa natureza. Ao fazer isso, o USUÁRIO fica ciente que seus dados, outrora armazenados em nossos bancos de dados, não estarão mais lá por ocasião do evento APAGAR CONTA. Esse evento é realizado somente pelo próprio USUÁRIO, que precisa ter, antes, digitado sua senha de acesso pessoal. Dessa forma, fica acordado que, uma vez apagado, as informações do USUÁRIO não poderão mais ser recuperadas e somente estarão disponíveis no Med1 caso o USUÁRIO faça um novo cadastro e envie novamente pela plataforma as informações que assim desejar disponibilizar novamente no Med1.
	Todos os dados pessoais coletados serão incorporados ao banco de dados do Med1 e a responsabilidade sobre a manutenção da segurança e privacidade dos dados fica atribuída a empresa Med1 Rede de Informação em Saúde Ltda.
			
<b>5. DISPOSIÇÕES GERAIS</b>

	É de responsabilidade do USUÁRIO a manutenção de sua senha em sigilo e de seu email de acesso. Não é recomendada a utilização de senhas óbvias, como datas especiais, nomes ou seqüências numéricas, como 123456. Também é recomendável que se troque a senha com regularidade no mínimo bimestralmente como forma de melhorar a segurança ao acesso a sua conta no Med1. A senha poderá ser alterada a qualquer momento no Med1 no item “Configurações”.
	Esta Política de Privacidade está sujeita a constantes melhorias e aprimoramentos, motivo pelo qual, é recomendável sua periódica e habitual consulta.
	Eventuais reclamações, sugestões, críticas ou elogios poderão ser encaminhadas ao endereço contato@med1.com.br
	<br/>
</pre>
	<%=image_tag('frontend/sombra_estatica.png')%>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		RemoverClass();
		AdicionarClass("privacidade");
	});

</script>