<pre style="background-color:#fff;border-color:#515180;color:#515180;word-break: normal;">
<h1 class="estatico" style="text-align:left">Termos e Condições de Uso do Med1</h1>
<b>1. Sobre o Med1</b>

	1.1. O <a href="http://www.med1.com.br">Med1</a> é uma plataforma digital de conteúdo de saúde criado por profissionais especialistas e por pacientes, com o objetivo de promover informação qualificada e troca de experiências. Para criar um cadastro como usuário profissional será necessário o envio de documentação comprobatória do seu certificado de Registro Profissional
	1.2. O Med1 é um serviço gratuito de conteúdo em saúde em uma plataforma de rede profissional mantido pela empresa startup Med1 Rede de Informação em Saúde Ltda. 
	1.3. Nosso foco é utilizar as inovações em tecnologia da informação e aplicá-las a área da saúde melhorando a forma como os profissionais interagem entre si e com os estudantes, incentivar a produção de conteúdo de qualidade na área de saúde e melhorar a forma como visitantes, principalmente pacientes possam ter acesso a essas informações qualificadas em saúde e bem-estar.
	1.4. O objetivo do Med1 é conectar profissionais de todas as áreas de saúde, estudantes e visitantes, promovendo a produção de conteúdo acreditado, a troca de conhecimento e experiências, ao mesmo tempo em que visitantes não profissionais de saúde possam ter acesso ao conhecimento gerado pelo site de forma segura e gratuita através da internet e agendar consultas presenciais com profissionais de sua livre escolha.
	1.5. O Med1 oferece gratuitamente um serviço de página pessoal ou profissional pública onde poderá se publicar artigos, tópicos, imagens e vídeos sobre saúde, úteis à população, além de publicar dados profissionais, como: nome, número de conselho profissional, formação acadêmica e local de atendimento.
	1.6. O Med1 oferece aos profissionais de saúde um mecanismo dentro do site em que se pode ter consultas presenciais agendadas em horários pré-estabelecidos pelo profissional que tiver esse serviço habilitado no Med1.
	1.7. O serviço de agendamento de consultas presenciais é cobrado dos profissionais por cada consulta presencial agendada que tiver for confirmada no Med1 em um sistema pré-pago onde se debita 5 créditos por cada consulta confirmada. Esse serviço é totalmente gratuito para os pacientes que agendam as consultas.
	1.8. Os profissionais poderão comprar pacotes de créditos ou ganharem créditos como bônus gratuitos mediante regras promocionais no Med1.
	1.9. O Med1 sempre incentivará que seus usuários (profissionais de saúde, estudantes e visitantes) sigam todas as normas estabelecidas pelos respectivos Código de Ética Profissional e os manuais que regulamentam a <a href="http://www.publicidademedica.com.br">Publicidade de Assuntos Médicos</a>.

<b>2. Cadastro e publicação de conteúdo no Med1</b>

	2.1. O cadastro do USUÁRIO no Med1 deverá conter apenas informações verídicas: Ao criar um cadastro no Med1 o USUÁRIO concorda que se for criado um nome de usuário falso nos reservamos o direito de removê-lo do Med1.
	2.2. O USUÁRIO também assumirá total responsabilidade sobre todos os dados e informações publicadas por ele no Med1 e que serão exibidas na sua Página Pública, isentando o Med1 de qualquer responsabilidade que tais publicações possam causar no sentido de violação das leis brasileiras ou em relação a danos ou prejuízos causados a outrem.
	2.3. Caso haja alguma publicação indevida no site que for sinalizada como abusiva por outros usuários o Med1 se garante no direito de julgar a procedência da denúncia e caso seja realmente abusiva o conteúdo publicado poderá ser apagado sem prévia autorização ou consulta do autor da publicação ou conteúdo.
	2.4. Não será permitido qualquer tipo de ação que viole as leis brasileiras ou as regras estabelecidas pelos Códigos de Éticas Profissionais, redigidos pelos respectivos conselhos profissionais.
	2.5. Não será permitido, sob pena do conteúdo ser sinalizado como impróprio, a utilização do Med1 para veicular propaganda não autorizada (spam).
	2.6. Será considerado como conteúdo abusivo no Med1 qualquer mensagem que se caracterize como ameaça, ofensa, intimidação ou ilegais a qualquer USUÁRIO.
	2.7. Qualquer suspeita de abuso poderá ser denunciada por qualquer USUÁRIO. O botão “Denunciar Abuso“ estará presente em todos os conteúdos e páginas públicas de USUÁRIOS.
	2.8. O Med1 recomenda a todos os USUÁRIOS que mantenham os seus dados sempre atualizados para evitar que a página pública contenha informações incorretas a respeito do próprio USUÁRIO.
	2.9. Segundo normas do código de ética profissional fica proibido a divulgação de nomes ou fotos que possam identificar pacientes.
	2.10. O Med1 se propõe a ser um portal de conteúdo colaborativo em saúde. É vedado a qualquer profissional a realização de qualquer tipo de comunicação que se caracterize como consulta online. 

<b>3. Segurança de Informações Pessoais</b>

	3.1. O USUÁRIO se responsabiliza a não compartilhar sua senha ou permitir que outras pessoas acessem a sua conta.
	3.2. O USUÁRIO deverá manter sua senha de acesso em sigilo e terá total responsabilidade por possíveis danos causados pela descoberta da sua senha de acesso.

<b>4. Direitos Autorais</b>

	4.1. Fica vedado ao USUÁRIO a publicação, distribuição ou reprodução de conteúdos protegidos por direitos autorais sem a prévia obtenção do consentimento do proprietário desses direitos.
	4.2. Caso o USUÁRIO publique conteúdos que violem a lei de direitos autorais e de propriedade intelectual o conteúdo poderá ser excluído mediante a solicitação do verdadeiro autor ou de seu representante ou procurador legal.

<b>5. Isenção de Responsabilidade</b>

	5.1. O Med1 é uma Rede de Conteúdo Colaborativo de Saúde com funcionalidades sociais. Os USUÁRIOS são inteiramente responsáveis por suas condutas no Med1, pelas suas opiniões e pelos conteúdos de seus comentários ou sobre as publicações de artigos, imagens, vídeos ou tópicos. 
	5.2. Ficam os USUÁRIOS sujeitos a leis tanto no âmbito civil, penal ou administrativo e isentam o Med1 de qualquer responsabilidade por esse se tratar apenas de um meio, plataforma ou veículo, sem possuir qualquer participação ou influência na autoria de conteúdo por seus USUÁRIOS, bem como as conversas e relações que todos eles mantêm entre si.
	5.2. O Med1 se coloca plenamente a disposição para auxiliar o cumprimento devido da lei e disponibiliza ferramentas de denúncias no site que possam identificar rapidamente qualquer tipo de comportamento abusivo ou ilícito.
	5.3. Toda comunicação entre os USUÁRIOS do Med1, seguem padrões que visam coibir a prática de consultas online. 
	5.4. Os profissionais de saúde podem estabelecer uma rede de amizade e trocar comentários em tópicos  ou publicações no Med1. 
	5.5. Os visitantes, não profissionais de saúde, também podem se relacionar entre si como uma rede social, trocando ideias e comentando artigos e tópicos produzidos por outros visitantes. 
	5.6. No Med1, o sistema foi construído de forma a impedir que os profissionais de saúde e os visitantes não possam ter uma inteiração de rede social, mas os visitantes podem ler o conteúdo de saúde produzidos pelos profissionais, aprender a viver melhor ou a cuidar melhor de si, indicar e até agendar consultas presenciais.

<b>6. Violação dos Termos e Condições</b>

	6.1. Em caso de descumprimento de qualquer cláusula desse presente Termos e Condições de Uso, o USUÁRIO poderá ser punido da seguintes formas:
	(i) suspensão temporária de acesso e uso;
	(ii) suspensão definitiva da conta de usuário, impedindo o acesso e uso indefinidamente;
	(iii) demais sanções previstas na legislação aplicável, inclusive com eventual responsabilidade civil por perdas e danos, e responsabilidade criminal, caso haja indícios de atividade ilícita. Estas penalidades podem ser aplicadas independentemente de notificação prévia.

<b>7. Legislação Aplicável e Foro de Eleição</b>

	7.1. As controvérsias que venham a surgir deste contrato ou quanto a seus serviços ou uso do Med1 serão resolvidas de acordo com as leis da República Federativa do Brasil. Se qualquer cláusula destas Regras de Uso for considerada ilegal, inválida, ou por qualquer motivo, inexigível, então esta cláusula deve ser considerada separada das Regras de Uso e não deverá afetar a validade e aplicabilidade de quaisquer disposições remanescentes.
	7.2. Fica eleito como foro competente para solucionar eventuais controvérsias decorrentes do presente contrato, o foro da comarca da cidade de Belo Horizonte, Estado de Minas Gerais.
	7.3. Se qualquer disposição do acordo é considerada inválida ou não obrigatória ao abrigo das normas imperativas de um determinado ordenamento jurídico, tal disposição deve ser interpretada como para dar efeito ao máximo a sua finalidade e isso não afetará a validade ou a aplicabilidade de: (a) essa prestação ao abrigo da legislação de qualquer outra jurisdição, ou (b) qualquer outra cláusula do acordo.

<b>8. Alterações deste documento</b>

	O Med1 se reserva no direito de alterar este documento sempre que for necessário e, enviaremos uma mensagem eletrônica por e-mail, para que você seja informado, mas fica sob sua responsabilidade atualizar-se sobre as possíveis mudanças neste documento.

<b>9. Dúvidas</b>

	Qualquer dúvida referente a esse Termos e Condições de Uso ou em relação ao acesso ao portal Med1, estaremos a disposição através do <a href="mailto:contato@med1.com.br">email</a> ou através do formulário de contato no Med1: <a href="http://www.med1.com.br/paginas/contatos">http://www.med1.com.br/paginas/contatos</a>

</pre>

<br/>
<br/>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		RemoverClass();
		AdicionarClass("termos");
	});

</script>