<div id="como_funciona_creditos" class="modal hide fade">
	<div class="modal-header">
    <a id='fechar_modal_imagem' class="close" data-dismiss="modal">×</a>
      <h1>Como funciona</h1>
  </div>
  <div class="modal-body">
    No Med1 você compra créditos para usar o sistema de agendamento de consultas presenciais. Quanto mais créditos comprar, maior é o desconto que você recebe. Enviando a documentação comprobatória profissional você ganha 20 créditos podendo usar o sistema de agendamento e ter 4 consultas agendadas, gratuitamente. Nosso diferencial em relação a outros sistemas de marcação online de consultas presenciais é que no Med1 você não paga uma mensalidade e sim só paga se tiver um agendamento efetivo pelo site. Caso programe férias ou faça uma viagem, seus créditos permanecem inalterados. Além disso, o Med1 contempla a participação ativa de visitantes possibilitando que seus interesses, recomendações, aptidões e publicações sejam encontradas dentro da rede.</br>
    </br>
    Funciona assim:
    </br>
    1 – Você envia o documento comprovando seu registro no conselho profissional e ganha 20 créditos para testar gratuitamente o sistema, tendo direito a receber 4 agendamentos de pacientes.</br>
    2 – Seus créditos não expiram a cada mês, nem perdem a validade caso você não os utilize.</br>
    3 – Caso uma consulta seja marcada, 5 créditos são debitados da sua conta.</br>
    4 – Você pode comprar mais créditos quando quiser, de forma segura e rápida pelo nosso sistema.</br>
    </br>
    Caso seus créditos acabem, nada lhe será cobrado a mais, mas seu sistema de agendamento irá parar de funcionar, sem afetar seus acesso ao restante do Med1. Viu como é fácil? Você só paga se usar e ainda ganha o direito de testar sem pagar!
  </div>
</div>