<div class="well mini-container-central">
	<div class="tabbable tab-central" >
		<ul class="nav nav-tabs">
			<li class="active"><a href="#editar_grupo" data-toggle="tab">Editar Grupo</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="editar_grupo">
				<%= render 'form' %>
			</div>
		</div>
	</div>		
</div>