<div class="well mini-container-central">
	<div class="tabbable tab-central" >
		<ul class="nav nav-tabs">
			<li class="active"><a href="#novo_grupo" data-toggle="tab">Novo Grupo</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="novo_grupo">
				<%= render 'form' %>
			</div>
		</div>
	</div>		
</div>
