<div class="twipsies well" style="margin-top: 15px; margin-bottom: 0">
	<p class="muted" style="margin-bottom: 0; text-align: left">
		Sempre que for publicar ou editar um conteúdo, você pode escolher quem irá visualizá-lo: <br/><strong>Privado</strong> - seu conteúdo poderá ser visto apenas por profissionais e estudantes de medicina que fazem parte do Med1. <br/><strong>Público</strong> - seu conteúdo poderá ser encontrado por milhares de pacientes que buscam informações de saúde na internet.						
	</p>
</div>