<div class="alert-message block-message warning">
  <h3>Para criar <%= label %>, é necessário submeter sua comprovoção profissional com um documento do seu conselho de origem!</h3>
  <div class="alert-actions">
    <a class="btn small" href="/profile/dados_pessoais">Enviar Agora!</a>
  </div>
</div>