<br/>
<h3>Endereço:</h3>
<%= @agenda.local_atendimento.local_completo %>
<br/>
<br/>

<div class="map_container"> 
  <div id="map" class="gmaps4rails_map"></div>
</div>

<br/>
<br/>

<%= render :partial => "form_agendamento"%>
<div class="row">
	<div id="wrapper_1">
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	var startDate = new Date();
	$(document).ready(function() {
		busca_horarios(Math.round(startDate.getTime() / 1000), '<%= @agenda.id %>');
		$.get("/agendas/<%= @agenda.id %>/busca_mapa");
	});
</script>