<div class="well mini-container-central">
	<div class="tabbable tab-central" > <!-- Only required for left/right tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#compras_notificacao" data-toggle="tab">Compra</a></li>
		</ul>
		
		<div class="tab-pane active" id="compras_notificacao">
			<h4 class="central" >
				Obrigado por participar do Med1. Sua compra está sendo processada pelo pagseguro, após a conclusão você receberá um email informando.
				<br/><br/>
				<a href="/minha_conta">Clique aqui e veja suas compras.</a>
			</h4>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

</script>