
<%= f.label :nome %>
<%= f.text_field :nome %><br />			    
<%= f.label :logo %>
<%= f.date_select :logo %><br />
<div>
	<input type="submit" class="btn primary" value="Save changes">&nbsp;
	<button type="reset" id="reset_btn" class="btn">Cancel</button>
</div>
