<html>
<head>
<title>Med1</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table id="Table_01" width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="margin-top:20px; margin-bottom:20px; border:1px solid #ccc">
    <tr>
        <td colspan="3" height="190" align="center" valign="middle">
            <img src="http://med1.rarolabs.com.br/assets/logo.png" alt="Med1 - Rede de Informa&ccedil;&atilde;o em Sa&uacute;de." title="Med1 - Rede de Informa&ccedil;&atilde;o em Sa&uacute;de." width="330" height="110">
        </td>
    </tr>
    <tr>
        <td width="20"></td>
        <td width="500" align="left" valign="top" style="font-family:Helvetica, Verdana, Arial, sans-serif; font-size:14px; color: #333; padding:10px 0 20px 0;">

            <p>Olá <%= @resource.nome %>!</p>

            <p>Este email foi enviado para que você possa criar uma nova senha. Você pode fazer isso acessando o site pelo link abaixo:</p>

            <p><%= link_to 'Alterar minha senha.', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

            <p>Sua senha não será alterada até você acessar o link acima e criar uma nova.</p>
            <p>Se você não requisitou a alteração, por favor ignore este email.</p>

            <p>Um abra&ccedil;o,<br />
            <strong style="color: #025295">Equipe Med1.</strong></p>
      </td>
        <td width="20"></td>
    </tr>
    <tr>
        <td height="45" colspan="3" align="center" valign="middle" bgcolor="#4b477e" style="font-family:Helvetica, Verdana, Arial, sans-serif; font-size:18px; color: #FFF;"><a href="http://www.med1.com.br" title="Med1 - Rede de Informa&ccedil;&atilde;o em Sa&uacute;de" target="_blank" style="text-decoration:none; color: #FFF; font-weight: bold;">www.med1.com.br</a></td>
    </tr>
</table>
</body>
</html>