<div class="well mini-container-central">
	<div class="tabbable tab-central" >
		<ul class="nav nav-tabs">
			<li class="active"><a href="#topico" data-toggle="tab">Novo Tópico</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="topico">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>